<div class="row mt-md-5">
  <div class="col-12 col-md-6">
    <div
      class="details__img img__column d-flex align-items-center justify-content-center mt-3 pb-4 pb-md-0 pe-md-4"
    >
      <img
        [src]="user.image"
        alt="User: {{ user.first_name }} {{ user.last_name }}"
      />
    </div>
  </div>

  <div class="col-12 col-md-6 mt-4 mt-md-0">
    <h2 class="text-center text-md-start">
      {{ user.first_name }}
    </h2>
    <h2 class="text-center text-md-start">
      {{ user.last_name }}
    </h2>

    <div class="mt-4">
      <p>
        <span class="font-bold">Nombre de usuario:</span>
        {{ user.username }}
      </p>
      <p><span class="font-bold">Email:</span> {{ user.email }}</p>
    </div>

    <div class="mt-5">
      <div class="d-flex align-items-center justify-content-center">
        <ul class="pagination pagination-lg">
          <li class="page-item" aria-current="page">
            <button class="page-link" (click)="deleteUser(user.id)">
              Eliminar
            </button>
          </li>
          <li class="page-item">
            <a [routerLink]="['/updateuser', user.id]" class="page-link">
              Actualizar
            </a>
          </li>
          <li class="page-item">
            <a [routerLink]="['/']" class="page-link"> Volver</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
