<article class="card m-3">
  <div class="card__img d-flex align-items-center justify-content-center mt-3">
    <img
      src="https://i.pravatar.cc/500?u=clemente.alonzomayorga@peticiones.online"
      alt=""
    />
  </div>

  <!-- start: card body -->

  <div class="card-body">
    <h2 class="text-center">Nombre de usuario completo</h2>
    <div class="d-flex align-items-center justify-content-between">
      <button
        class="btn btn-outline-secondary d-flex flex-column align-items-center"
      >
        <i class="bi bi-zoom-in"></i>
        Ver detalle
      </button>
      <button
        class="btn btn-outline-secondary d-flex flex-column align-items-center"
      >
        <i class="bi bi-repeat"></i>
        Actualizar
      </button>
      <button
        class="btn btn-outline-secondary d-flex flex-column align-items-center"
      >
        <i class="bi bi-trash"></i>
        Borrar
      </button>
    </div>
  </div>

  <!-- end: card body -->
</article>
